#Cartita {
  width: 50%;
  color: #000000; 
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  margin-top: 5%;
  border-width: thick;
  border-radius: 30px;
}
#CartitaAlu{
  width: 25%;
  color: #000000; 
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  margin-top: 5%;
  border-width: thick;
  border-radius: 30px;
}
 
#Contenedor{
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  
  height: 100vh;
  background-color: #1c1e21;
}

.navReg{
  background:  rgb(238, 166, 10);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  border-bottom: 5px solid #e9da91 ;
  
}

.site-titleReg img{
  max-width: 275px;
}
