.formStyle{
 

}
#Cartita {
  width: 50%;
  color: #000000; 
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  margin-top: 5%;
  border-width: thick;
  border-radius: 30px;
}
 
#Contenedor{
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  padding: 5%;
  height: 100vh;
  background-color: #243042;
}

