.formStyle{
  width: 30%;

}
#Cartita {
  width: 50%;
  color: #000000; 
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  margin-top: 10%;
}
 
#Contenedor{
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
}
