#selectorEstadoClase{
    width: 50% !important;

}

#frecClasDDL{
  align-items: center !important;
  align-content: center !important;
  align-self: center !important;
  text-align: center !important;
  width: 50% !important;

}