.site-title img{
    max-width: 275px;
}

*{
    box-sizing: border-box;
}


body{
    margin: 0;
}

.nav{
    background:  rgb(214, 148, 4);
    color: black;
    display: flex;
    border-bottom: 5px solid #e9da91;
    justify-content: space-between;
    justify-items: center;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    font-size: 24px;
    height: 55px;
    user-select: none;
   
}


.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    user-select: none;
    background-color: transparent;
    
}

.nav a{
    color: black;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;

}
 
#nav-dropdown{
    color: white;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    user-select: none;
    background-color: transparent;
}

.nav li.active{
    background-color: #555;
    user-select: none;
    background-color: transparent;
}

.nav li:hover{
    background-color: #777;
    user-select: none;
    background-color: transparent;
}

#fotona{
    max-width: 25px;
}

#botonupload{
    max-width: 20px;
    align-items: center;
    align-items: center;
}

#botonguardar{
    margin-top: 10px ;
    display: flex;
    max-width: 150px;
    justify-content: space-between;
}

#botonvolver{
    margin-top: 10px;
    max-width: 100px;
    justify-content: end;
    justify-items: end;
}
.botonContenedor{
    display:flex;
    margin: 8px;
}






