.contenedorPagina{
    background-color: #e9da91 !important;
    width: min-content;
}
.columnaInutil{
    padding: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
    height: 500% !important;
}

.rowContenedoraTodo{
    margin-right: 0%;
}



